.main-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
/* .sidebar-div{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  right: 10px;
  top: 10px;
} */


/* 

.title-view-div{
  position: fixed;
  right: 10px;
  top: 10px;
  background: #000;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-view-div label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  text-align: left;
}

.title-view-div input {
  width: 100%;
  background: #222;
  border: 1px solid #444;
  padding: 8px;
  color: white;
  border-radius: 4px;
} */

/* .save-edit-btn{
  padding: 8px;
  border-radius: 4px;
  background-color: #3339f1;
  color: white;
  display: flex;
  align-items: center;


  width: 100%;
  background: #1621d8;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;


} */


/* 

.board-div{
  display: flex;
  align-items: baseline;
  align-self: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.col-card-div{
  width: 250px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 4px;
}
.col-content{
  border-radius: 4px;
}
.title-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: white;
  padding: 2px;
}
.title{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 4px;
}
.del-icon{
  margin: 4px;
  display: flex;
  align-items: center;
  background-color: #3339f1;
  border-radius: 4px;
}

.task-content:first-child,.task-content:last-child{
  background: #f5f5f7;
}

.task-content{
  margin: 8px 10px;
  padding: 10px;
  box-shadow: 0px 1px 2px gray;
  border-radius: 4px;
  color: #333;
  font-size: 12px;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}


.add-div{
  margin: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.add-task-input,.add-column-input{
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
}
.add-button{
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #1e1e1e;
  color: white;
  flex-grow: 1;
}
.edit-del-div{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.edit-input{
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
}
.add-task-input::placeholder{
  font-size: 12px;
  color: #ccc;
}
.add-column-div{
  display: flex;
  align-self: center;
  gap: 5px;
}
.add-column{
  padding: 10px;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
  border: none;
} 






.add-page-button {
  background: #9496f5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
}




.tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
}

.page {
  position: relative;
  text-align: center;

  margin: 10px;
}


.root-page {
  background: black;
  color: white;
  border-radius: 12px;
}

.root-page::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 2px;
  height: 80px;
  background: gray;
  transform: translateX(-50%);
}


.child-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}


.child-container::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  width: 81%;
  height: 2px;
  background: gray;
  transform: translateX(-50%);
}

.child-container .page::before {
  content: "";
  position: absolute;
  top: -68px;
  left: 50%;
  width: 2px;
  height: 68px;
  background: gray;
  transform: translateX(-50%);
}


@media (max-width:768px){
  .main-container{
    min-height: 100vh;
  }
  .add-page-button{
    margin-top: 0px;
  }
  
.scroll-container {
  width: 100%;
  overflow-x: auto; 
  overflow-y: hidden;
  white-space: nowrap; 
  display: flex;
  align-items: center;
}
.root-page::after{
  height: 88px;
}
  .popup-container{
    width: 220px;
    padding: 12px;
  }
  .board-div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 60px;
  }
  

  .col-card-div {
    width: 250px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    flex-shrink: 0; 
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }

}




 */
